*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  cursor: none;
}

#webgl {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  position: fixed;
}
